SMTP_HOST=smtp.gmail
SMTP_PORT=587
SMTP_USER=ton-adresse-mail
SMTP_PASSWORD=ton-mot-de-passe-app
SMTP_FROM_EMAIL=ton-adresse-mail
SMTP_FROM_NAME=Alert_System
DATABASE_URL=sqlite:///./alerts.db
DEBUG=False
API_VERSION=1.0.0
API_TITLE=Email Alert System